
.idea/
rasa/__pycache__/

rasa/rasa_core\.log

neo4j/\.ipynb_checkpoints/

rasa_core\.log

rasa/errors\.json

rasa/models/dialogue/

rasa/projects/default/default/Neo4jNlu/

SentenceToQuery/__pycache__/

SentenceToQuery/projects/default/default/Neo4jNlu/

SentenceToQuery/models/dialogue/

SentenceToQuery/errors\.json
