pygments~=2.3.1
ipython==7.5.0
rasa_core==0.13.2
rasa_core_sdk~=0.12.1
rasa_nlu~=0.14.3
tensorflow==1.12.0
prompt-toolkit~=2.0
numpy==1.16
setuptools==39.1.0
spacy==2.0.11
scikit-learn==0.20.2
scipy==1.2
sklearn-crfsuite==0.3.6
python_cypher==0.14.2
py2neo==4.3.0
ruamel.base==1.0.0
